[user]
	name =
	email = Andrew@WeAreSoftwareCraftsmen.com

[alias]
	co = checkout
	nb = checkout -b $0
	db = !sh -c 'git stash && git checkout master && git branch -D $0'
	nf = !sh -c 'git stash && git checkout master && git checkout -b feature/$0'
	mt = mergetool
	fa = fetch --all
	rh = reset --hard
	rf = !sh -c 'git reset --hard $0/$1'
	st = status
	gui = !sh -c '/usr/local/git/libexec/git-core/git-gui'
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[core]
    autocrlf = input
[push]
    default = current

[merge]
    tool = diffmerge
[diff]
	tool = diffmerge

[mergetool "diffmerge"]
	keepBackup = false
	trustExitCode = true
	cmd = diffmerge -merge -result="$PWD/$MERGED" "$PWD/$LOCAL" "$PWD/$BASE" "$PWD/$REMOTE"

[difftool "diffmerge"]
 	cmd = diffmerge "$LOCAL" "$REMOTE"
